<div class="col-md-12">
	<div>
	<h2 class="text-center">MyGroupsList<h2>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th> # </th>
				<th> Title </th>
				<th> Description </th>
				<th> Post Count </th>
				<th> Last Update </th>
			</tr>
		</thead>

		<tbody>
			<% @groups.each do |group| %>
			<tr>			
				<td> # </td>
				<td> <%= link_to group.title, group_path(group)%> </td>
				<td> <%= truncate(group.description,length:15) %> </td>
				<!--td> <%= group.posts.count %> </td-->
				<td> <%= group.posts.size %> </td>
				<td> <%= group.updated_at.to_s(:long) %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>